.main-section {
  display: flex;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  background: url("./source/header-image/back.jpg");
  background-size: cover;
  width: 100%;
  height: 782px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.header .header-back-info-container {
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
  height: 782px;
  width: 100%;
}
.header .header-back-info-container .header-container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.header-menu {
  width: 1440px;
  font-family: "Lato", sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 170px;
}
.header-menu .logo {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.header-menu .logo p {
  margin: 0;
  padding-left: 10px;
  text-transform: uppercase;
  color: #ffff;
  font-size: 18px;
}
.header-menu .menu-navbar .navbar {
  font-weight: 700;
  padding: 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  width: 445px;
}
.header-menu .menu-navbar .navbar a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding-left: 17px;
}
.header-menu .menu-navbar .navbar a :hover {
  text-decoration: underline;
}
.header-menu .login {
  display: flex;
  align-items: center;
}
.header-menu .login .nav-login {
  display: flex;
  text-decoration: none;
  color: #ffff;
  font-weight: 400;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 6px;
  align-items: center;
  width: 100px;
  height: 40px;
}
.header-menu .login .nav-login p {
  margin-left: auto;
  margin-right: auto;
}
.header-menu .login .nav-language {
  color: #ffff;
  padding-right: 12px;
}
.header-menu .login .language-flag {
  padding-right: 12px;
}
.header-menu .login .nav-triangle {
  padding-right: 29px;
}

.header-info {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1440px;
}
.header-info .info-text {
  font-weight: 700;
  font-size: 72px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 39px;
  margin: 0;
}
.header-info .main-info {
  width: 540px;
  padding-bottom: 40px;
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  line-height: 150%;
  margin-left: auto;
  margin-right: auto;
}
.header-info .header-signup {
  text-decoration: none;
  background-color: #FFFFFF;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  color: #ED4C5C;
  margin-left: auto;
  margin-right: auto;
}

.main-about {
  padding-top: 94px;
}
.main-about .about-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-family: "Lato", sans-serif;
  display: flex;
}
.main-about .about-container .about-text {
  width: 445px;
}
.main-about .about-container .about-text .about-main-text {
  font-weight: 700;
  font-size: 36px;
}
.main-about .about-container .about-text .about-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}
.main-about .about-container .about-text .learn-more {
  text-decoration: none;
  color: #ED4C5C;
  font-size: 14px;
}
.main-about .about-container .about-video {
  padding-left: 100px;
}
.main-about .about-container .about-video .video-play {
  width: 66px;
  height: 66px;
  position: relative;
  top: -53%;
  left: 7%;
}
.main-about .about-container .about-video .bg-video {
  margin: 0;
  width: 445px;
  height: 311px;
  padding-bottom: 95px;
}

.main-features {
  font-family: "Lato", sans-serif;
  width: 100%;
  background-color: #FAFAFA;
}
.main-features .features-container {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.main-features .features-container .features-text {
  padding: 63px;
  text-align: center;
  font-size: 36px;
  margin: 0;
}
.main-features .features-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 124px;
}
.main-features .features-cards .features-card {
  padding-top: 20px;
  width: 350px;
  height: 355px;
  padding-left: 30px;
}
.main-features .features-cards .features-card img {
  width: 350px;
  height: 250px;
}
.main-features .features-cards .features-card .features-card-about {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -27%;
  left: 8%;
  width: 293px;
  height: 198px;
  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.main-features .features-cards .features-card .features-card-about .features-about-text {
  display: flex;
  width: 229px;
  height: 40px;
  text-align: center;
  padding-top: 33px;
  padding-bottom: 22px;
  margin: 0;
}
.main-features .features-cards .features-card .features-card-about .about-more-information {
  width: 229px;
  height: 57px;
  text-align: center;
  font-size: 12px;
  margin: 0;
}
.main-features .features-cards .features-card .features-card-about .features-read-more {
  text-decoration: none;
  color: #ED4C5C;
}
.main-features .features-cards .features-card .features-card-about .features-read-more :hover {
  text-decoration: underline;
}

.main-technology {
  font-family: "Lato", sans-serif;
  width: 100%;
}
.main-technology .technology-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}
.main-technology .technology-container .technology-text {
  padding-top: 63px;
  padding-bottom: 52px;
  text-align: center;
  font-size: 36px;
  margin: 0;
}
.main-technology .technology-container .technology-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 104px;
}
.main-technology .technology-container .technology-list .technology-card {
  width: 255px;
  height: 226px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-technology .technology-container .technology-list .technology-card .num-card {
  width: 120px;
  position: relative;
}
.main-technology .technology-container .technology-list .technology-card .num-card img {
  position: absolute;
}
.main-technology .technology-container .technology-list .technology-card .num-card h2 {
  margin: 0;
  font-size: 100px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
}
.main-technology .technology-container .technology-list .technology-card .technology-text-about {
  margin: 0;
  padding-top: 19px;
  font-weight: 700;
  font-size: 18px;
}
.main-technology .technology-container .technology-list .technology-card .about-technology {
  padding-top: 10px;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  width: 191px;
}
.main-technology .technology-container .technology-list .technology-card .t-cloud {
  width: 80px;
  height: 80px;
  top: 50%;
  left: 16%;
}
.main-technology .technology-container .technology-list .technology-card .t-secure {
  top: 54%;
  left: 23%;
}
.main-technology .technology-container .technology-list .technology-card .t-pdf {
  top: 56%;
  left: 32%;
}
.main-technology .technology-container .technology-list .technology-card .t-csv {
  top: 60%;
  left: 31%;
}

.main-recommendation {
  font-family: "Lato", sans-serif;
  width: 100%;
  background: #ED4C5C;
}
.main-recommendation .recommendation-container {
  padding-top: 94px;
  padding-bottom: 95px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-recommendation .recommendation-container .information-about-money {
  width: 445px;
  height: 311px;
  padding-right: 83px;
}
.main-recommendation .recommendation-container .information-about-money .information-text {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 24px;
}
.main-recommendation .recommendation-container .information-about-money .recommendation-text {
  font-size: 14px;
  color: #FFFFFF;
  padding-bottom: 42px;
}
.main-recommendation .recommendation-container .information-about-money .recommendation-link {
  display: flex;
  align-items: center;
}
.main-recommendation .recommendation-container .information-about-money .recommendation-link a {
  padding-right: 28px;
}
.main-recommendation .recommendation-container .recommendation-gallery {
  position: relative;
  display: flex;
  align-items: center;
  width: 533px;
  height: 311px;
}
.main-recommendation .recommendation-container .recommendation-gallery img {
  position: absolute;
}
.main-recommendation .recommendation-container .recommendation-gallery .second-image {
  right: 0;
}
.main-recommendation .recommendation-container .recommendation-gallery .main-image {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
