$containerWidth: 1200px;
%containerParam {
  max-width: $containerWidth;
  margin: 0 auto;
  width: 100%;
}

.main-section {
  display: flex;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  background: url("./source/header-image/back.jpg");
  background-size: cover;
  display: flex;
  margin: 0 auto;

  .header-back-info-container {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    width: 100%;

    .header-container {
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      padding-bottom: 225px;
      @extend %containerParam;
    }
  }
}

.header-menu {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 170px;

  .logo {
    font-weight: 700;
    display: flex;
    align-items: center;

    p {
      margin: 0;
      padding-left: 10px;
      text-transform: uppercase;
      color: #ffff;
      font-size: 18px;
    }
  }

  .menu-navbar {
    .navbar {
      font-weight: 700;
      padding: 0;
      text-align: center;
      list-style-type: none;
      display: flex;
      width: 445px;

      a {
        text-decoration: none;
        color: white;
        font-size: 14px;
        padding-left: 17px;

        :hover {
          text-decoration: underline;
        }
      }
    }
  }

  .login {
    display: flex;
    align-items: center;

    .nav-login {
      display: flex;
      text-decoration: none;
      color: #ffff;
      font-weight: 400;
      border: 1px solid #FFFFFF;
      border-radius: 6px;
      padding-right: 30px;
      padding-left: 30px;
      height: 40px;
      align-items: center;

      &:hover {
        background-color: white;
        color: #ED4C5C;
      }

      p {
        margin: 0;
      }
    }

    .nav-language {
      color: #ffff;
      padding-right: 12px;
    }

    .language-flag {
      padding-right: 12px;
    }

    .nav-triangle {
      padding-right: 29px;
    }
  }
}

.header-info {
  display: block;
  justify-content: center;

  .info-text {
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 39px;
    margin: 0;
  }

  .main-info {
    max-width: 540px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
  }

  .header-signup {
    text-decoration: none;
    background-color: #FFFFFF;
    display: flex;
    max-width: 160px;
    border-radius: 6px;
    text-transform: uppercase;
    color: #ED4C5C;
    margin: 0 auto;

    p {
      margin: 0 auto;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

.main-about {
  padding-top: 94px;

  .about-container {
    @extend %containerParam;
    justify-content: space-between;
    display: flex;
    align-content: center;

    .about-text {
      max-width: 445px;
      padding-top: 46px;

      .about-main-text {
        margin: 0;
        font-weight: 600;
        font-size: 36px;
        line-height: 43px;
        padding-bottom: 24px;
      }

      .about-info {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        padding-bottom: 20px;
      }

      .learn-more {
        text-decoration: none;
        color: #ED4C5C;
        font-size: 14px;
      }
    }

    .about-video {
      .video-play {
        width: 66px;
        height: 66px;
        position: relative;
        top: -218px;
        left: 35px;
      }

      .bg-video {
        margin: 0;
        width: 445px;
        height: 311px;
        padding-bottom: 95px;
      }
    }
  }
}

.main-features {
  background-color: #FAFAFA;

  .features-container {
    @extend %containerParam;
    display: block;

    .features-text {
      padding: 63px;
      text-align: center;
      font-size: 36px;
      margin: 0;
    }
  }

  .features-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 230px;

    .features-card {
      max-width: 350px;
      position: relative;
      display: flex;
      justify-content: center;

      img {
        width: 350px;
        height: 250px;
      }

      .features-card-about {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        max-width: 293px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        top: 157px;

        .features-about-text {
          display: flex;
          width: 229px;
          text-align: center;
          padding-top: 33px;
          padding-bottom: 22px;
          margin: 0;
          font-size: 18px;
          line-height: 22px;
        }

        .about-more-information {
          max-width: 229px;
          text-align: center;
          font-size: 12px;
          margin: 0;
          padding-bottom: 22px;
          line-height: 150%;
        }

        .features-read-more {
          text-decoration: none;
          color: #ED4C5C;
          padding-bottom: 25px;
          font-size: 12px;
          line-height: 150%;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.main-technology {
  font-family: "Lato", sans-serif;
  width: 100%;

  .technology-container {
    @extend %containerParam;

    .technology-text {
      padding-top: 63px;
      padding-bottom: 52px;
      text-align: center;
      font-size: 36px;
      margin: 0;
    }

    .technology-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 104px;

      .technology-card {
        max-width: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .num-card {
          max-width: 120px;
          width: 100%;
          position: relative;

          img {
            position: absolute;
          }

          h2 {
            margin: 0;
            font-size: 100px;
            text-align: center;
            color: rgba(16, 16, 16, 0.08);
          }
        }

        .technology-text-about {
          margin: 0;
          padding-top: 19px;
          font-weight: 700;
          font-size: 18px;
        }

        .about-technology {
          padding-top: 10px;
          margin: 0;
          text-align: center;
          font-weight: 400;
          font-size: 12px;
          max-width: 191px;
        }

        .t-cloud {
          width: 80px;
          height: 80px;
          top: 50%;
          left: 16%;
        }

        .t-secure {
          top: 54%;
          left: 23%;
        }

        .t-pdf {
          top: 56%;
          left: 32%;
        }

        .t-csv {
          top: 60%;
          left: 31%;
        }
      }
    }
  }
}

.main-recommendation {
  background: #ED4C5C;

  .recommendation-container {
    padding-top: 94px;
    padding-bottom: 95px;
    @extend %containerParam;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .information-about-money {
      max-width: 445px;
      padding-right: 83px;

      .information-text {
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 400;
        padding-bottom: 24px;
        margin: 0;
      }

      .recommendation-text {
        font-size: 14px;
        color: #FFFFFF;
        padding-bottom: 42px;
        margin: 0;
      }

      .recommendation-link {
        display: flex;
        align-items: center;

        a {
          padding-right: 28px;
        }
      }
    }

    .recommendation-gallery {
      position: relative;
      display: flex;
      align-items: center;
      width: 533px;
      height: 311px;

      img {
        position: absolute;
      }

      .second-image {
        right: 0;
      }

      .main-image {
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.main-tech-support {

  .tech-support-container {
    display: flex;
    justify-content: space-between;
    padding-top: 117px;
    @extend %containerParam;
    padding-bottom: 117px;

    .support-information {
      max-width: 445px;

      .information-contact {
        font-size: 36px;
        margin: 0;
        padding-bottom: 50px;
        line-height: 43px;
      }

      .more-information {
        margin: 0;
        font-size: 14px;
        line-height: 140%;
        text-align: justify;
      }
    }

    .tech-request {
      max-width: 540px;
      width: 100%;

      .user-name-block {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;

        input {
          border: 1px solid #333333;
          box-sizing: border-box;
          padding-left: 30px;
          color: rgba(19, 39, 67, 0.5);
          font-size: 16px;
          max-width: calc(50% - 15px);
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;
          border-radius: 6px;
        }
      }

      .phone-number-service {
        display: flex;
        flex-direction: column;

        .phone-number {
          border: 1px solid #333333;
          padding-left: 30px;
          color: rgba(19, 39, 67, 0.5);
          font-size: 16px;
          border-radius: 6px;
          margin-bottom: 24px;
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .select-service {
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 30px;
          color: rgba(19, 39, 67, 0.5);
          font-size: 16px;
          border-radius: 6px;
          margin-bottom: 25px;
        }
      }

      .submit-form {
        background: #ED4C5C;
        border: none;
        border-radius: 6px;
        color: #FFFFFF;
        max-width: 160px;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 17px;
        font-size: 17px;
      }
    }
  }
}

.footer-info {
  background: #FAFAFA;

  .footer-container {
    .copyright {
      padding-top: 86px;
      padding-bottom: 86px;
      margin: 0;
    }

    display: flex;
    flex-direction: column;
    @extend %containerParam;
    padding-top: 85px;

    .useful-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        max-width: 255px;

        h4 {
          font-size: 18px;
          text-align: left;
          padding-bottom: 33px;
          margin: 0;
        }
        .exact-address{
          margin: 0;
        }
      }

      .links_list {
        padding: 0;
        list-style-type: none;
        margin: 0;
        a {
          text-decoration: none;
          color: black;
        }
      }

      .link_get-in-touch {
        .contact {
          padding: 0;

          .social-links {
            padding: 0;
            display: flex;

            img {
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}


