$generalWidth: 100%;
$contentWidth: 1440px;
.main-section{
  display: flex;
  flex-direction: column;
}
body{
  padding: 0;
  margin: 0;
}
.header{
  background: url("./source/header-image/back.jpg");
  background-size: cover;
  width: $generalWidth;
  height: 782px;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .header-back-info-container{
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
    height: 782px;
    width: $generalWidth;

    .header-container{
      max-width: 1440px;
      display: flex;
      flex-direction: column;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
    }
  }
}
.header-menu {
  width: $contentWidth;
  font-family: 'Lato', sans-serif;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 170px;
  .logo {
    font-weight: 700;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding-left: 10px;
      text-transform: uppercase;
      color: #ffff;
      font-size: 18px;
    }
  }
  .menu-navbar{
    .navbar{
      font-weight: 700;
      padding: 0;
      text-align: center;
      list-style-type: none;
      display: flex;
      width: 445px;
      a{
        text-decoration: none;
        color: white;
        font-size: 14px;
        padding-left: 17px;
        :hover{
          text-decoration: underline;
        }
      }
    }
  }
  .login{
    display: flex;
    align-items: center;
    .nav-login{
      display: flex;
      text-decoration: none;
      color: #ffff;
      font-weight: 400;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 6px;
      align-items: center;
      width: 100px;
      height: 40px;
      p{
        margin-left: auto;
        margin-right: auto;
      }
    }
    .nav-language{
      color: #ffff;
      padding-right: 12px;
    }
    .language-flag{
      padding-right: 12px;
    }
    .nav-triangle{
      padding-right: 29px;
    }
  }
}
.header-info{
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $contentWidth;
  .info-text{
    font-weight: 700;
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 39px;
    margin: 0;
  }
  .main-info{
    width: 540px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    line-height: 150%;
    margin-left: auto;
    margin-right: auto;
  }
  .header-signup{
    text-decoration: none;
    background-color: #FFFFFF;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    color: #ED4C5C;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-about{
  padding-top: 94px;
  .about-container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    display: flex;
    .about-text{
      width: 445px;
      .about-main-text{
        font-weight: 700;
        font-size: 36px;
      }
      .about-info{
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
      }
      .learn-more{
        text-decoration: none;
        color: #ED4C5C;
        font-size: 14px;
      }
    }
    .about-video{
      padding-left: 100px;
      .video-play{
        width: 66px;
        height: 66px;
        position: relative;
        top: -53%;
        left: 7%;
      }
      .bg-video{
        margin: 0;
        width: 445px;
        height: 311px;
        padding-bottom: 95px;
      }
    }
  }
}
.main-features{
  font-family: 'Lato', sans-serif;
  width: 100%;
  background-color: #FAFAFA;
  .features-container{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    .features-text{
      padding: 63px;
      text-align: center;
      font-size: 36px;
      margin: 0;
    }
  }
  .features-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 124px;
    .features-card{
      padding-top: 20px;
      width: 350px;
      height: 355px;
      padding-left: 30px;
      img{
        width: 350px;
        height: 250px;
      }
      .features-card-about{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -27%;
        left: 8%;
        width: 293px;
        height: 198px;
        background: #FFFFFF;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        .features-about-text{
          display: flex;
          width: 229px;
          height: 40px;
          text-align: center;
          padding-top: 33px;
          padding-bottom: 22px;
          margin: 0;
        }
        .about-more-information{
          width: 229px;
          height: 57px;
          text-align: center;
          font-size: 12px;
          margin: 0;
        }
        .features-read-more{
          text-decoration: none;
          color: #ED4C5C;
          :hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.main-technology{
  font-family: "Lato", sans-serif;
  width: 100%;
  .technology-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    .technology-text{
      padding-top: 63px;
      padding-bottom: 52px;
      text-align: center;
      font-size: 36px;
      margin: 0;
    }
    .technology-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 104px;
      .technology-card{
        width: 255px;
        height: 226px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .num-card{
          width: 120px;
          position: relative;
          img{
            position: absolute;
          }
          h2{
            margin: 0;
            font-size: 100px;
            text-align: center;
            color: rgba(16, 16, 16, 0.08);
          }
        }
        .technology-text-about{
          margin: 0;
          padding-top: 19px;
          font-weight: 700;
          font-size: 18px;
        }
        .about-technology{
          padding-top: 10px;
          margin: 0;
          text-align: center;
          font-weight: 400;
          font-size: 12px;
          width: 191px;
        }
        .t-cloud{
          width: 80px;
          height: 80px;
          top: 50%;
          left: 16%;
        }
        .t-secure{
          top: 54%;
          left: 23%;
        }
        .t-pdf{
          top: 56%;
          left: 32%;
        }
        .t-csv{
          top: 60%;
          left: 31%;
        }
      }
    }
  }
}
.main-recommendation{
  font-family: "Lato", sans-serif;
  width: 100%;
  background: #ED4C5C;
  .recommendation-container{
    padding-top: 94px;
    padding-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .information-about-money{
      width: 445px;
      height: 311px;
      padding-right: 83px;
      .information-text{
        color: #FFFFFF;
        font-size: 36px;
        font-weight: 400;
        padding-bottom: 24px;
      }
      .recommendation-text{
        font-size: 14px;
        color: #FFFFFF;
        padding-bottom: 42px;
      }
      .recommendation-link{
        display: flex;
        align-items: center;
        a{
          padding-right: 28px;
        }
      }
    }
    .recommendation-gallery{
      position: relative;
      display: flex;
      align-items: center;
      width: 533px;
      height: 311px;
      img{
        position: absolute;
      }
      .second-image{
        right: 0;
      }
      .main-image{
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
.main-tech-support{
  font-family: "Lato", sans-serif;
  width: 100%;
  .tech-support-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-top: 117px;
    padding-bottom: 33px;
    margin-bottom: 45px;
    .support-information{
      width: 445px;
      height: 350px;
      .information-contact{
        font-size: 36px;
        margin: 0;
        padding-bottom: 50px;
      }
      .more-information{
        text-align: left;
      }
    }
    .tech-request{
      height: 350px;
      width: 540px;
      .user-name-block{
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;
        input{
          border: 1px solid #333333;
          box-sizing: border-box;
          padding-left: 30px;
          color: rgba(19, 39, 67, 0.5);
          font-size: 16px;
          width: 255px;
          height: 60px;
          border-radius: 6px;
        }
      }
      .phone-number-service{
        display: flex;
        flex-direction: column;
        align-items: center;
        .phone-number{
          border: 1px solid #333333;
          width: 505px;
          height: 60px;
          padding-left: 30px;
          color: rgba(19, 39, 67, 0.5);
          font-size: 16px;
          border-radius: 6px;
          margin-bottom: 25px;
        }
        .select-service{
          width: 540px;
          height: 60px;
          padding-left: 30px;
          color: rgba(19, 39, 67, 0.5);
          font-size: 16px;
          border-radius: 6px;
          margin-bottom: 25px;
        }
      }
      .submit-form{
        background: #ED4C5C;
        border: 1.5px solid #ED4C5C;
        box-sizing: border-box;
        border-radius: 6px;
        color: #FFFFFF;
        width: 160px;
        height: 50px;
        font-size: 14px;
      }
    }
  }
}
.footer-info{
  font-family: "Lato", sans-serif;
  width: 100%;
  height: 435px;
  background: #FAFAFA;
  .footer-container{
    .copyright{
      padding-top: 86px;
      padding-left: 25px;
    }
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-top: 85px;
    .useful-links{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      div{
        padding-left: 30px;
        width: 255px;
        height: 200px;
        h4{
          font-size: 18px;
          text-align: left;
          padding-bottom: 33px;
        }
      }
      .links_list{
        padding: 0;
        list-style-type: none;
        a{
          text-decoration: none;
          color: black;
        }
      }
      .link_get-in-touch{
        .contact{
          padding: 0;
          .social-links{
            padding: 0;
            display: flex;
            img{
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}


